body {
    background-image: url(./bg.png);
    background-size:cover;
}

#boom{
    position: relative;
    left:40vw;

}
#clap{

}
#hihat{

}
#kick{

}
#openhat{

}
#ride{

}
#snare{

}
#tink{

}
#tom{

}